body {
        background-color: black;
        color: black;
}

#main {
    color: black;
}

h1 {
    font-family: 'Lato', sans-serif;
    color: blue;
    background-color: grey;
}

input[type=text] {
    width: 150px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

#formObjects {
    background-color: white;
    padding: 15px;
}

#orderBy {
    width: 150px;
    border-style: solid;
    border-color: grey;
    border-width: thin;
    padding: 5px;
}